<div class="search-container">
  <div class="right-section-icons">
    <div class="filter">
      <img src="assets/icon_Filter-LoFi_20px.png" alt="" class="filter-icon" />
      <p class="label">Filter</p>
      <img
        src="assets/icon_Dropdown-Down_LS.png"
        alt=""
        class="dropdown-icon"
      />
    </div>
    <div class="filter">
      <img src="assets/icon_Sort-LoFi_20px.png" alt="" class="filter-icon" />
      <p class="label">Sort</p>
      <img
        src="assets/icon_Dropdown-Down_LS.png"
        alt=""
        class="dropdown-icon"
      />
    </div>
  </div>
  <div class="search">
    <img src="assets/icon_Search-LoFi_20px.png" alt="" class="search-icon" />
    <p class="search-label">Search</p>
  </div>
</div>
