<section class="home-wrapper">
  <div class="nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="content-wrapper">
    <app-header></app-header>
    <ng-container *ngIf="tabSelected == 'Game Plan'">
      <div class="tabs">
        <mat-tab-group
          [selectedIndex]="1"
          class="tabs"
          mat-stretch-tabs="false"
          mat-align-tabs="start"
        >
          <mat-tab label="Levels">
            <div class="search">
              <app-search-bar></app-search-bar></div
          ></mat-tab>
          <mat-tab label="Challenges">
            <div class="search">
              <app-search-bar></app-search-bar>
            </div>
            <app-challenges></app-challenges>
          </mat-tab>
          <mat-tab label="Quests">
            <div class="search">
              <app-search-bar></app-search-bar>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
  </div>
</section>
