.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 3.4rem;
  min-width: 29.6rem;
  .num-of-actions {
    font-size: 1.2rem;
    color: #a9abb2;
  }
  .create-btn {
    background-color: transparent;
    border: none;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
  }
}
.cards {
  &__container {
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-row-gap: 2.4rem;
    grid-column-gap: 3.2rem;
    margin-block-start: 2.6rem;
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
}
